{% extends '::base.html.twig' %}
{% block title %}Simple demo to check password{% endblock %}

{% block body %}
    <h1 class="text-center">Simple demo example to check passwords</h1>
    <h4 class="text-center">You can check the password entered among one million commonly used</h4>
    <div style="max-width: 420px; margin: auto">
        <div class="hpanel">
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.pass) }}
                    {{ form_widget(form.pass) }}
                </div>
                {{ form_end(form) }}
                <button type="button" class="check-button btn btn-success btn-block">Check password in list</button>
                <p></p>
                <br>
                <p>This is a simple demonstration of an open source project <a href="https://github.com/Nidhognit/PassSecurityBundle">PassSecurityBundle</a></p>
                <p>Get acquainted with the code you can on links <a href="https://github.com/Nidhognit/demo-pass-security-bundle">Demo</a></p>
                <p><b class="text-danger">Warning!</b> I do not keep logs and does not store sent the passwords, but it is important to understand that this is only a
                    demonstration, and there was no purpose to ensure full security</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts '@DemoBundle/Resources/js/jquery-3.1.1.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@DemoBundle/Resources/js/demoPassword.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}