{% extends '::base.html.twig' %}
{% block title %}Simple demo to check password{% endblock %}

{% block body %}
    <a href="https://github.com/Nidhognit/PassSecurityBundle"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67"
                                                alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
    <h1 class="text-center"><a target="_blank" href="https://github.com/Nidhognit/PassSecurityBundle">PassSecurityBundle</a> <b>DEMO</b></h1>
    <h4 class="text-center">Make sure your password is not among the 1,000,000 most most frequently used</h4>
    <div class="col-lg-4"></div>
    <div style="margin: auto" class="col-lg-4">
        <div class="hpanel">
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.pass) }}
                    {{ form_widget(form.pass) }}
                </div>
                {{ form_end(form) }}
                <button type="button" class="check-button btn btn-success btn-block ladda-button" data-style="expand-right">Check password in list</button>
                <br>
                <p class="server-answer"></p>
                <hr>
                <p>Get acquainted with the code you can on links <a target="_blank" href="https://github.com/Nidhognit/demo-pass-security-bundle">Demo</a></p>
                <p><b class="text-info">Info: </b>Passwords less than three characters are not checked</p>
                <p><b class="text-danger">Privacy Policy!</b> I do not keep logs and does not store sent the passwords, but it is important to understand that this is only a
                    demonstration, and there was no purpose to ensure full security.</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts '@DemoBundle/Resources/js/jquery-3.1.1.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@DemoBundle/Resources/js/demoPassword.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@DemoBundle/Resources/js/Ladda/spin.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@DemoBundle/Resources/js/Ladda/ladda.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@DemoBundle/Resources/js/Ladda/ladda.jquery.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}