{% extends '::base.html.twig' %}
{% block title %}Simple demo to check password{% endblock %}

{% block body %}
    <h1 class="text-center">Simple demo example to check passwords</h1>
    <div class="login-container" style="max-width: 420px; margin: auto">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.pass) }}
                            {{ form_widget(form.pass) }}
                        </div>
                        {{ form_end(form) }}
                        <button type="button" class="check-button btn btn-success btn-block">Check password in list</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts '@DemoBundle/Resources/js/jquery-3.1.1.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@DemoBundle/Resources/js/demoPassword.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}